{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<div id="matchName">&nbsp;</div>
<div id="alliance">
  <div class="scoring-section">
    <div class="scoring-header">
      <div>&nbsp;</div>
      <div>Parked</div>
    </div>
    {{range $i := seq 3}}
      <div>
        <div class="team team-{{$i}} robot-field"></div>
        <div id="endgameStatus{{$i}}" class="boolean robot-field" onclick="handleClick('park', {{$i}});">
          <div class="value"></div>
        </div>
      </div>
    {{end}}
  </div>
  <div class="scoring-section">
    <div class="scoring-header">
      <div> </div>
      <div>Cubes</div>
    </div>
    {{range $i := seq 5}}
      <div>
        <div class="cube-level">Lv{{$i}}</div>
        <div id="cubes{{$i}}" class="cube-field row">
          <div class="col">
            <div class="cube-btn cube-minus" onclick="handleClick('cube_minus', 0, {{$i}});">-</div>
          </div>
          <div class="value col"></div>
          <div class="col">
            <div class="cube-btn cube-add" onclick="handleClick('cube_add', 0, {{$i}});">+</div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
  <div class="scoring-section mt-3">
    <div class="scoring-header">
      <div>Cube Bonus</div>
    </div>
    <div>
      <div id="cubeBonus" class="cube-field row">
        <div class="col">
          <div class="cube-btn cube-minus" onclick="handleClick('cube_bonus_minus');">-</div>
        </div>
        <div class="value col"></div>
        <div class="col">
          <div class="cube-btn cube-add" onclick="handleClick('cube_bonus_add');">+</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="commitMatchScore">
  <button type="button" class="btn btn-primary" onclick="commitMatchScore();">
    Commit Final Match Score
  </button>
</div>
<div id="postMatchMessage">Waiting for the next match...</div>
{{end}}
{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.Alliance}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "stageSide"}}
<div class="stage-side-col">
  <div id="stageSide{{.index}}Team1" class="team-1 boolean" onclick="handleClick('onStage', 1, {{.index}});"></div>
  <div id="stageSide{{.index}}Team2" class="team-2 boolean" onclick="handleClick('onStage', 2, {{.index}});"></div>
  <div id="stageSide{{.index}}Team3" class="team-3 boolean" onclick="handleClick('onStage', 3, {{.index}});"></div>
</div>
<div class="stage-side-col">
  <div id="stageSide{{.index}}Microphone" class="boolean" onclick="handleClick('microphone', 0, {{.index}});">Mic</div>
  <div id="stageSide{{.index}}Trap" class="boolean" onclick="handleClick('trap', 0, {{.index}});">Trap</div>
</div>
{{end}}
